NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_WS_BASE_URL=ws://localhost:8000/api/websockets
NEXT_PUBLIC_API_IP=localhost
NEXT_PUBLIC_API_PORT=8000
NEXT_PUBLIC_API_CNIC_IMAGE_URL=/api/id-card-camera/cnic-timestamp-latest-image/:path*
NEXT_PUBLIC_API_THUMB_IMAGE_URL=/api/camera/thumbnail/:path*
