API_IP=127.0.0.1
API_PORT=8000
API_TITLE="University Surveillance and Card Logger System API"
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sgicl
JWT_ALGORITHM=HS256
SALT=secret_salt
THUMBNAIL_PATH=thumbnails
