# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
backend/.pytest_cache/

# Build outputs
frontend/build/
frontend/dist/

# OS files
.DS_Store
Thumbs.db
