CARD_REPEATED_THRESHOLD_SECONDS=60
CNIC_SAVE_PATH="C:\Users\Administrator\.gemini\antigravity\scratch\card-logger-system\Card-Logger-Backend-main\cnics"
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sgicl
NUM_PLATE_SAVE_PATH="C:\Users\Administrator\.gemini\antigravity\scratch\card-logger-system\Card-Logger-Backend-main\number_plates"
